@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

body {
    background: #f1f1f1;
}

#content {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
}

#content > * {
    width: 100%;
}

h2 {
    margin: 1rem 0;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
    flex-direction: row;
}

#title h1, #title h2 {
    margin: 1rem;
}

#title h1 {
    font-size: 3.5rem;
}

#title img {
    height: 20rem;
}

@media (max-width: 1000px) {
#title {
    flex-direction: column-reverse;
    text-align: center;
}
#title img {
    height: 30vw;
}
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 700px) {
.row {
    flex-direction: column;
}
}

#seminarlinks {
    margin-bottom: 2rem;
}

.square {
    position: relative;
    margin: 0 10px;
    width: 330px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
.square {
    width: 50vw;
    height: 50vw;
    min-width: 300px;
    min-height: 300px;
    margin-bottom: 1rem;
}
}

#signup span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
    transition: 0.5s;
}

#signup:hover span:nth-child(1) {
    border: none;
    background: #f07e6e;
}

#listofspeakers:hover span:nth-child(1) {
    border: none;
    background: #84cdfa;
}

#nextspeaker:hover span:nth-child(1) {
    border: none;
    background: #5ad1cd;
}

#listofspeakers span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
}

#signup:hover span:nth-child(2) {
    border: none;
    background: #f07e6e;
}

#listofspeakers:hover span:nth-child(2) {
    border: none;
    background: #84cdfa;
}

#nextspeaker:hover span:nth-child(2) {
    border: none;
    background: #5ad1cd;
}

#nextspeaker span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
    transition: 0.5s;
}

#signup:hover span:nth-child(3) {
    border: none;
    background: #f07e6e;
}

#listofspeakers:hover span:nth-child(3) {
    border: none;
    background: #84cdfa;
}

#nextspeaker:hover span:nth-child(3) {
    border: none;
    background: #5ad1cd;
}

.content {
    position: relative;
    padding: 40px 60px;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
}

.content a {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid #fff;
    padding: 6px 18px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}

.content a:hover {
    background: white;
    color: #333;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 600px;
  padding: 1rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -300px;
}

.tooltip .tooltiptext * {
  color: #fff;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
